* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
}

header {
    background: #000000;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

header .logo img {
    height: auto;
    max-height: 50px; 
}
.login {
    height: 25px;
}

.loginp {
    font-size: 12px;
}

.carrinho {
    height: 35px;
}

header .search-bar {
    display: flex;
    flex-grow: 1;
    max-width: 600px; 
    margin: 0 10px; 
}

header .search-bar input[type="text"] {
    padding: 5px;
    font-size: 1em;
    flex-grow: 1;
    width: 100%;
}

header .search-bar button {
    padding: 5px 10px;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
}

header .search-bar button:hover {
    background: #ffffff;
}

.lupa {
    height: 20px;
}

header .header-buttons {
    display: flex;
    gap: 10px;
}

header .header-buttons a {
    padding: 5px 10px;
    background: #000000;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

header .header-buttons a:hover {
    background: #777;
}


nav {
    position: fixed;
    top:70px; 
    width: 100%;
    background-color: #ffffff;
    padding: 0px 0;
    z-index: 999;
}

.menupng{
    height: 50px; 
}

.menu-button {
    color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    text-align: center;
    position: relative;
}

.menu li {
    margin: 5px 0;
    display: inline-block;
    position: relative;
}

.menu li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu li a:hover {
    background-color: #555;
}

.menu-button:hover + .menu,
.menu:hover {
    display: inline-block;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer .social-media {
    background-color: black;
    margin-top: px;
    height: 60px;
    width: 100%;
    padding: 10px 10px;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer .social-media a:hover {
    text-decoration: underline;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
}

.whatsapp-btn img {
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.whatsapp-btn:hover img {
    transform: scale(1.1);
}

.instagram-btn {
    bottom: 10px;
    right: 20px;
    padding: 0; /* Remova o padding para evitar espaçamento extra */
}

.instagram-btn img {
    width: 40px; /* Defina a largura desejada para a imagem */
    border-radius: 50%; /* Para tornar a imagem redonda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.instagram-btn:hover img {
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho da imagem ao passar o mouse */
}

.sobre{
    background-color: #fff;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}
.sobre a {
    color: #3d3d3d;
    text-decoration: none;
    opacity:1;
}

.sobre a:hover {
    opacity:0.5;
}
.sobre a img{
    height: 15px;
}
 .sobre h1{
    display: flex;
    align-items: center;
 }
.sobre h1 img{
    height: 40px;
}

.sobre hr{
    width: 100%;
    height: 3px;
    background-color: #303030;
}